<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
	<Properties>
<!-- 		<Property name="log-path">${sys:catalina.home}/logs</Property> -->
<!-- 		<Property name="log-path">/Users/Vich/Documents/Development Workspace/git/UserAccountManagement/User Account Management/logs</Property> -->
		<Property name="log-path">D:/Java/Development Workspace/git/UserAccountManagement/User Account Management/logs</Property>
	</Properties>

	<Appenders>
		<RollingFile name="file-log" fileName="${log-path}/UserAccountManagement.log"
			filePattern="${log-path}/UserAccountManagement-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|%-21t|%c{1}:%L| %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>

		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="com.yggdrasil" level="debug" additivity="false">
			<appender-ref ref="file-log" level="debug" />
		</Logger>
		<Root level="debug" additivity="false">
			<appender-ref ref="file-log" />
		</Root>
	</Loggers>
</Configuration>
